.rating-layout
	.rating-layout__second-place
		block second-place
	.rating-layout__separator
	.rating-layout__first-place
		block first-place
	.rating-layout__separator
	.rating-layout__third-place
		block third-place
