.rating-layout {
	display: flex;
	height: 100%;

	&__first-place {
		@rating-place();
		order: 2;
	}

	&__second-place {
		@rating-place();
		order: 1;
	}

	&__third-place {
		@rating-place();
		order: 3;
	}

	@rating-place: {
		flex: 1 1 auto;
		border-left: 0.5vw solid lightgrey;
		border-right: 0.5vw solid lightgrey;
		height: 100%;
		position: relative;
	}
}
