svg(class='rating-place__title', version='1.1', fill='none', stroke='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
	pattern(id='p-fire', viewBox='30 100 186 200', patternUnits='userSpaceOnUse', width='216', height='200', x='-70', y='35')
		image(xlink:href='http://tympanus.net/codrops-playground/assets/images/posts/23145/fire.gif', width='256', height='300')
	text(class='rating-place__name', x='50%', y='100%', text-anchor='middle')
