doctype html
html(lang="en")
	head
		title Elevator Saga
		link(rel="stylesheet", type="text/css", href="dist/index.css")
	body
		.page
			include rating-layout/rating-layout
		script(type="text/javascript", src="dist/index.js")
