doctype html
html(lang='en')
	head
		title Elevator Saga
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Press+Start+2P&amp;subset=cyrillic')
		link(rel='stylesheet', type='text/css', href='dist/index.css')
	body
		.rating-page
		script(type='text/javascript', src='dist/index.js')
