doctype html
html(lang="en")
	head
		title Elevator Saga
		link(rel="stylesheet", type="text/css", href="dist/index.css")
	body
		.scene(xmlns="http://www.w3.org/2000/svg")
		script(type="text/javascript", src="dist/index.js")
